* {
    font-family: 'Roboto Mono', monospace;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
  h1 {font-size:2.5rem;} 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:3.5rem;} 
  nav {font-size:.8rem;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:4rem;}
  nav {font-size:1rem;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:5rem;} 
  nav {font-size:1.3rem;}
}
 
h2 {
    font-size: 3em;
}

#alert {
    position: fixed;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: appear;
    animation-duration: 2s;
}

@-webkit-keyframes appear {
    0% {
        top: -10%;
    }
    100% {
        top: 8%;
    }
}

#camelPic {
    max-width: 100%;
}


.navbar-nav > li > .dropdown-menu { 
    background-color: rgba(44, 44, 44, 0.95); 
}

.navbar-nav > li > .dropdown-menu > a { 
    color: white;
}

.navbar-nav > li > .dropdown-menu > a:hover { 
    background-color: rgba(44, 44, 44, 0.5); 
}

#cornerFavicon {
    max-width:70%;
    height:auto;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

#parallaxPic {
    background-image: url(img/div1.jpg);
    background-size: cover;
    background-position: center;
    font-weight:700;
    height: 100vh;
}

#parallaxPic h1 {
    color: rgba(230, 230, 230, 0.849);
    background: rgba(44, 44, 44, 0.95);
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    margin-top: .5em;
    text-align: center;
}

#h4 {
    font-size: 1em;
    color: rgba(230, 230, 230, 0.849);
    margin-bottom: 1.5rem;
    background: rgba(44, 44, 44, 0.80);
    padding: 8px 24px;
    border-radius: 6px;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 20px #fff;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #6d6d6d, 
    }
  }

#div2 {
    background: rgba(208, 211, 211, 1);
    height: 100%;
}

#div2 > div {
    height: 100%;
}

#firstBox{
    background-color: rgba(44, 44, 44, 0.95);
    color: rgba(230, 230, 230, 0.849);
}

#firstSection {
    display: flex;
    padding: 0 50px;
    height: 100%;
}

#firstSection > div {
    vertical-align: middle;
}

#secondPic {
    background-image: url(img/div3.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    -webkit-transform: translateZ(0);
}

#secondPic > p {
    font-size: 1em;
    color: rgba(230, 230, 230, 0.849);
    background: rgba(44, 44, 44, 0.95);
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
}

#div4 {
    background: rgb(208, 211, 211);
    height: 100%;
}

#secondBox{
    background-color: rgba(44, 44, 44, 0.95);
    color: rgba(230, 230, 230, 0.849);
}

#secondBox > div {
    width: 50%;
}

#secondSection {
    padding: 0 50px;
    height: 100%;
    position: relative;
    top: 10%;
    bottom: 15%
}


#footer{
    height: 3vh;
}

#footer > p {
    margin-bottom: -1.5em;
    background-color: white;

}

.spacers {
    height: 50vh;
}

.spacers > p {
    font-size: 1em;
    color: rgba(230, 230, 230, 0.849);
    background: rgba(44, 44, 44, 0.95);
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
}

.tn-box {
	width: 360px;
	position: relative;
	margin: 0 auto 20px auto;
	padding: 25px 15px;
	text-align: left;
	border-radius: 5px;
    box-shadow: 
		0 1px 1px rgba(0,0,0,0.1), 
		inset 0 1px 0 rgba(255,255,255,0.6);  
	opacity: 0;
	cursor: default;
	display: none;
}

.tn-box-color-1{
	background: #ffe691;
	border: 1px solid #f6db7b;
}

.tn-progress {
	width: 0;
	height: 4px;
	background: rgba(255,255,255,0.3);
	position: absolute;
	bottom: 5px;
	left: 2%;
	border-radius: 3px;
	box-shadow: 
		inset 0 1px 1px rgba(0,0,0,0.05), 
		0 -1px 0 rgba(255,255,255,0.6);
}