* {
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
  }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 200px) {  
  h1 {font-size:2.5rem;} 
  .fullvh {
        height: auto;
        top: 2.5rem;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:3.5rem;} 
  nav {font-size:.8rem;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:4rem;}
  nav {font-size:1rem;}
  .fullvh {height: 100vh;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:5rem;} 
  nav {font-size:1.3rem;}
}
 
p > a {
    color: rgb(0, 128, 17);
    /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
}

p > a:hover {
    color: rgb(0, 128, 17);
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

h2 {
    font-size: 4em;
}

#alert {
    position: fixed;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: appear;
    animation-duration: 3s;
}

@-webkit-keyframes appear {
    0% {
        top: -10%;
        opacity: 0;
    }

    50%  {
        opacity: .8;
    }
    100% {
        top: 8%;
        opacity: 1;
    }
}


.navbar-nav > li > .dropdown-menu { 
    background-color: rgba(44, 44, 44, 0.9); 
}

.navbar-nav > li > .dropdown-menu > a { 
    color: rgb(230, 230, 230);
}

.navbar-nav > li > .dropdown-menu > a:hover { 
    background-color: rgba(44, 44, 44, 0.5); 
}

.textBox {
    padding: 8px 24px;
    border-radius: 6px;
}

.darkTheme {
    color: rgb(230, 230, 230);
    background: rgba(44, 44, 44, 0.92);
}

.lightTheme {
    background-color: rgba(184, 184, 184, 0.9);
}

.lighterTheme {
    background-color: rgba(238, 238, 238, 0.9);
}

.firstParallax {
    height: 100vh;
}

.background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    -webkit-transform: translateZ(0);
    transition: 1s ease-in-out;
}

.invisible {
  opacity: 0;

}

.visible {
  opacity: 1!important;
}

h5 {
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 20px #fff;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #6d6d6d, 
    }
  }

#footer{
    height: 1.5em;
}

#footer > p {;
    background-color: rgb(208, 211, 211);
    margin-bottom: -3em;
}

.spacers {
    height: 50vh;
}

/* styles specific to newyork page */

h3 {
    margin: 2em;
    padding-top: 11rem;
    margin-top: -11rem;
}

h3 ~ p {
    margin: 1em 1.5em;
}

.big-bottom-padding {
    padding-bottom: 7rem!important;
}

/* some animations */

.slide-in-top {
	-webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-in-bottom {
	-webkit-animation: slide-in-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }